/Guia9/Ejercicio_1/nbproject/private/
/Guia9/Ejercicio_1/build/
/Guia9/Ejercicio_2/nbproject/private/
/Guia9/Ejercicio_6/nbproject/private/
/Guia9/Ejercicio_5/nbproject/private/
/Guia9/Ejercicio_5/build/