/* Tablero */

.tablero {
    width: 450px;
    background-color: chocolate; 
    border: 1px solid aqua;
    box-shadow: inset 0 0 3px black, 0 0 3px wheat;
    display: grid;
    grid-template-columns: repeat(15, 30px);
    grid-template-rows: repeat(20, 30px);
    user-select: none;
}

.tanteador {
    width: 20%;
    background-color: chocolate; 
    border: /* 6px solid aqua */ 6px solid rgb(39, 70, 70);
    box-shadow: inset 0 0 10px black, 0 0 3px wheat;
    height: auto;
    top: 170px;
    left: 30px;
    position: absolute;
    z-index: 100;
    user-select: none;
    border-radius: 35px;
    text-shadow: 0 0 3px black,0 0 10px yellowgreen;
}
h1{
    font-size: 5em;
}
.juego{ 
    width: 450px;
    display: grid;
    grid-template-columns: repeat(15, 30px);
    grid-template-rows: repeat(20, 30px);
    position: absolute;
    user-select: none;
}

.gameOver{
    width: 100%;
    background-color: #0f0f0f6b;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    position: absolute;
    z-index: 200;

}
.casilla {
    width: 30px;
    height: 30px;
   border: 1px solid aqua;
   background-color: rgba(71, 51, 36, 0.377);
   box-shadow: inset 0 0 7px white;
   user-select: none;
}

.fila {
    display: contents;
}

.ficha-1 {
    background-color: #ff0077;
}

.ficha-2 {
    background-color: #00ff00;
}

.ficha-3 {
    background-color: #0000ff;
}


.ficha-4 {
    background-color: #ff0f0f;    
}

.ficha_full{
    background-color: chocolate;
}

.ficha{
    position: absolute;
    box-shadow: inset 5px 5px 4px rgb(170, 168, 168), inset -5px -5px 5px rgb(46, 42, 42);
    color: #0f0f0f;
}
.fichas{
    position: absolute;
    
}