
body{
    background-position-y: 0;
    background-repeat: no-repeat; 
    background-image: url("img/17973908.jpg");
    background-size: 100%;}
header{
        padding:10px;
        background-color: aliceblue;
        height: 100px;
    }
    section div{
        scroll-behavior: inherit;
    }
    .sombraform{
        background-color: rgba(240, 255, 255, 1);
        
         margin-left:19%;
          margin-right:19%; 
         border-radius: 15px; 
         box-shadow: 5px 5px 20px rgba(20,45,10,0.42); 
         
    }
    .linkatras{
        margin-left: 1em;
        padding: 0.3em 0.5em;
        border-radius: 12px ; 
        border: 1px solid blue; 
        width: fit-content;
    }
    a.linkatras::hover{
        border-width: 2px;
        text-shadow: 1cap black;
        font-
    }