table{
    border-collapse: collapse;
    border-width: 2px;
    border-style: solid;
    border-color: #333;
}
td{
    border-width: 2px;
    padding:5px;
    text-align: center;
    border-style: solid;
    border-color: #333;
}
th{
    padding: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

/*formato de lineas amarillas y blancas*/
tr:nth-child(even){
    background-image: none;
    background-color: #ffffcc;
}

th[scope="col"] {
   background-image: url(imagenes/fondo_gris.gif);
    font-family: Arial, Helvetica, sans-serif;
}
th:nth-child(1){
    background-color: #e6f3ff;
    background-position:left center;
    padding-left: 20px ;
    background-repeat: no-repeat;
    text-align: left;
}
.euro{
    background-image: url("imagenes/euro.png");
}
.libra{
    background-image: url("imagenes/libra.png");
}
.yen{    
    background-image: url("imagenes/yen.png");
}
.dolar{    
    background-image: url("imagenes/dolar.png");
}
