<<<<<<< HEAD
.panel{
    scroll-margin-block: calc();
    height: calc(1005);
    background-color: aquamarine;
    background-repeat: no-repeat;
    background-image: url("../img/icolink.png") ;
    background-size: 100%;
    display: grid;
}

body{
    background-position-y: 0;
    background-repeat: no-repeat; 
    background-image: url("img/17973908.jpg");
    background-size: 100%;}
header{
        padding:10px;
        background-color: aliceblue;
        height: 100px;
    }
    section div{
        scroll-behavior: inherit;
    }
    .sombraform{
        background-color: rgba(240, 255, 255, 1);
        
         margin-left:19%;
          margin-right:19%; 
         border-radius: 15px; 
         box-shadow: 5px 5px 20px rgba(20,45,10,0.42); 
         
    }
    